.cartQuantity {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}

.updateButton {
  color: rgba(204, 204, 204, 0.823);
  font-size: 1.6rem;
  cursor: pointer;
}

.updateButton:hover {
  color: white;
  transition: all 0.5s;
}

/*############################################################################*/

/* @media (max-width: 800px) {
  .cartQuantity {
    gap: 0.8rem;
    font-size: 1.4rem;
  }

  .updateButton {
    font-size: 1.4rem;
  }
} */
