.pageContainer {
  min-height: 100vh;
  position: relative;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainContainer {
  padding: 1.6rem;
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
}

/*############################################################################*/

.errorImage {
  height: 36rem;
}

.goBackButton {
  font-size: 1.6rem;
  font-weight: 700;
  padding: 1.2rem 2.4rem;
  box-shadow: 0 0 6px 1px #00000066;
  background-color: #ff730037;
  border: 3px solid #ff7300;
  border-radius: 11px;
  text-align: center;
  white-space: nowrap;
  flex-basis: 100%;
}

.goBackButton:hover {
  background-color: #edb88d;
  transition: all 0.5s;
}

/*############################################################################*/

@media (max-width: 650px) {
  .errorImage {
    height: 30rem;
  }
}

@media (max-width: 550px) {
  .errorImage {
    height: 24rem;
  }

  .goBackButton {
    font-size: 1.4rem;
    padding: 0.8rem 1.6rem;
  }
}

@media (max-width: 450px) {
  .errorImage {
    height: 18rem;
  }

  .goBackButton {
    font-size: 1.2rem;
    padding: 0.8rem 1.2rem;
  }
}

@media (max-width: 350px) {
  .errorImage {
    height: 16rem;
  }

  .goBackButton {
    font-size: 0.8rem;
  }
}
