.pageContainer {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;
  padding-bottom: 100px;
  /* border: 3px solid red; */
}

.mainContainer {
  /* max-width: 80rem; */
  width: 80rem;
  padding: 1.6rem;
  /* padding: 5rem; */
  margin: 1rem;

  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 1.6rem;
  /* justify-content: center; */
  /* align-items: center; */
  text-align: center;

  /* border: 3px solid #f18832; */
}

.cartTableContainer {
  /* padding-top: 20px; */
  /* border: 2px solid red; */
  /* max-width: 800px; */
  display: flex;
  gap: 3.2rem;
  /* border: 3px solid yellow; */
}

/*############################################################################*/

.titleContainer {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 0.4rem;
  font-size: 1.4rem;
  flex-wrap: wrap;
}

.goBackButton {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  color: inherit;
  display: flex;
  align-items: center;
}

.goBackButtonIcon {
  font-size: 2.4rem;
}

.goBackButtonIcon:hover {
  color: #edb88d;
  transition: all 0.5s;
}

.quantity {
  font-size: 1.8rem;
  color: rgba(204, 204, 204, 0.823);
}

/*############################################################################*/

.productLink {
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: fit-content; */
}

.productImage {
  height: 7.4rem;
  /* margin-bottom: 1.5rem; */
  border-radius: 11px;
  /* width: 0.1%; */
}

.productInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.productPrice {
  font-size: 1.4rem;
  color: rgba(204, 204, 204, 0.823);
}

/* .deleteIcon {
  cursor: pointer;
}

.deleteIcon:hover {
  animation: shake 0.2s linear infinite;
}

@keyframes shake {
  from {
    transform: rotate(-20deg);
  }
  to {
    transform: rotate(20deg);
  }
} */

/*############################################################################*/

.orderSummaryContainer {
  background: rgba(190, 190, 190, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  padding: 1.6rem;
  border-radius: 11px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* flex-basis: 30%;
    height: fit-content;
  */
  /* border: 2px solid white; */
  height: fit-content;
  margin-top: 1.6rem;
  white-space: nowrap;
}

.orderSummaryTitle {
  /* text-align: center;
  font-size: 1.2rem;
  margin: 1.6rem 0 2.4rem; */
  margin-bottom: 1.6rem;
  align-self: flex-start;
  font-size: 1.8rem;
}

.orderSummaryGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  column-gap: 4.8rem;
  row-gap: 1.6rem;
  border-bottom: 1px solid rgba(204, 204, 204, 0.666);
  padding-bottom: 1.2rem;
  margin-bottom: 1.2rem;
  font-size: 1.2rem;
}

.orderSummaryLabel {
  text-align: left;
  /* color: rgba(204, 204, 204, 0.666); */
}

.orderSummaryValue {
  text-align: right;
  font-weight: 800;
  width: 100px;
}

.totalPrice {
  font-weight: 800;
  font-size: 1.4rem;

  display: flex;
  justify-content: space-between;
}

.totalPrice .orderSummaryValue {
  width: 150px;
}

.checkoutButton {
  color: inherit;
  font-family: inherit;
  font-size: 1.2rem;
  font-weight: 700;
  background-color: #f18832;
  padding: 0.4rem;
  margin: 2rem 0 1rem;
  border-radius: 11px;
  border: 0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  /* flex-basis: 100%; */
  /* text-align: center; */
}

.checkoutButton:hover {
  background-color: #edb88d;
  transition: all 0.5s;
}

.homeLink {
  align-self: center;
  text-decoration: underline;
}

.homeLink:hover {
  color: #edb88d;
  transition: all 0.5s;
}

/*############################################################################*/

@media (max-width: 1300px) {
  .mainContainer {
    width: 70rem;
  }
}

@media (max-width: 1100px) {
  .mainContainer {
    width: 60rem;
  }

  .cartTableContainer {
    gap: 2.4rem;
  }

  .orderSummaryGrid {
    column-gap: 1.6rem;
  }
}

@media (max-width: 1000px) {
  .mainContainer {
    width: 50rem;
    /* padding: 1.6rem 3.2rem; */
  }

  .cartTableContainer {
    flex-direction: column;
  }

  .orderSummaryValue {
    width: auto;
  }
}

@media (max-width: 800px) {
  .mainContainer {
    width: 40rem;
    /* padding: 1.6rem 3.2rem; */
  }

  .productInfo {
    margin-bottom: 0.4rem;
  }
}

@media (max-width: 650px) {
  .mainContainer {
    width: 30rem;
  }

  .titleContainer {
    /* font-size: 1rem; */
    justify-content: center;
  }

  .productInfo {
    display: flex;
    /* flex-direction: row; */
    gap: 0.4rem;
    align-items: center;
    justify-content: center;
    /* text-align: left; */
  }

  @media (max-width: 500px) {
    .mainContainer {
      width: 25rem;
    }
  }

  @media (max-width: 400px) {
    .mainContainer {
      width: 20rem;
    }

    .titleContainer {
      font-size: 1rem;
    }
  }
}
