* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  color: #fff;
  font-family: "Roboto", sans-serif;
  position: relative;
  background-image: url(/images/vector-mar-2021-50_generated.jpg);
  background-size: cover;
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  color: inherit;
  font-family: inherit;
  cursor: pointer;
}
