.pageContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;
  padding-bottom: 100px;
  /* border: 3px solid red; */
}

.mainContainer {
  max-width: 80rem;
  padding: 1.6rem;
  display: flex;
  flex: 1;
  gap: 8rem;
  align-items: center;
}

/*############################################################################*/

.productImage {
  /*max-width: 400px;*/
  /* height: 100%; */
  height: 30rem;
  border-radius: 30px;
}

/*############################################################################*/

.productRightSide {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* text-align: center; */
}

.productName {
  font-size: 3rem;
  margin-bottom: 1.6rem;
}

.productDescription {
  font-size: 1.4rem;
  margin-bottom: 2.4rem;
}

.productSpecsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 2.4rem;
}

.productSpec {
  border: 3px solid #ff7300;
  border-radius: 11px;
  padding: 0.4rem 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4rem;
  flex: 1;

  background: rgba(54, 52, 52, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.productSpecLabel {
  /* color: #ff7300; */
  font-size: 1.4rem;
  font-weight: 600;
}

.productSpecValue {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  white-space: nowrap;
}

.productPrice {
  color: gold;
  font-size: 3.2rem;
  font-weight: 700;
  padding-bottom: 1.2rem;
  margin-bottom: 1.6rem;
  /* border-bottom: 3px solid rgba(204, 204, 204, 0.666); */
}

.buttonsContainer {
  display: flex;
  /* justify-content: space-between; */
  gap: 2.4rem;
  /* border: 3px solid red; */
}

.purchaseButton,
.cartLink {
  color: inherit;
  font-family: inherit;
  font-size: 1.6rem;
  font-weight: 700;
  background-color: rgb(255, 115, 0);
  padding: 1.2rem 2.4rem;
  border: 3px solid #ff7300;
  border-radius: 11px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  flex-basis: 100%;
  text-align: center;
  white-space: nowrap;
}

.purchaseButton:hover {
  background-color: #edb88d;
  transition: all 0.5s;
}

.cartLink {
  background-color: #ff730037;
}

.cartLink:hover {
  background-color: #edb88d;
  transition: all 0.5s;
}

/*############################################################################*/

@media (max-width: 1300px) {
  .mainContainer {
    gap: 4.8rem;
  }
}

@media (max-width: 1100px) {
  .mainContainer {
    gap: 3.2rem;
  }

  .productImage {
    height: 26rem;
  }

  .buttonsContainer {
    gap: 1.6rem;
  }

  .purchaseButton,
  .cartLink {
    padding: 1.2rem 1.6rem;
  }
}

@media (max-width: 900px) {
  .mainContainer {
    flex-direction: column;
    text-align: center;
  }

  .productSpecsContainer {
    justify-content: center;
  }
}

@media (max-width: 600px) {
  .productImage {
    height: 22rem;
  }

  .buttonsContainer {
    margin-bottom: 2.4rem;
  }
}

@media (max-width: 450px) {
  .productImage {
    height: 18rem;
  }

  .productSpec {
    padding: 0.4rem 0.8rem;
  }

  .buttonsContainer {
    flex-wrap: wrap;
  }
}
